<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ssm.maven.core.dao.MenuDao">
    <resultMap id="BaseResultMap" type="com.ssm.maven.core.entity.Menu">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="title" property="title" jdbcType="VARCHAR"/>
        <result column="icon" property="icon" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="spread" property="spread" jdbcType="VARCHAR"/>
        <result column="leavel" property="leavel" jdbcType="INTEGER"/>
        <result column="parent_id" property="parent_id" jdbcType="INTEGER"/>
        <result column="del_flag" property="del_flag" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
    id, title, icon, url, spread, leavel, parent_id, del_flag
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from menu
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.ssm.maven.core.entity.Menu">
    insert into menu (id, title, icon, 
      url, spread, leavel, 
      parent_id, del_flag)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{icon,jdbcType=VARCHAR},
        #{url,jdbcType=VARCHAR}, #{spread,jdbcType=VARCHAR}, #{leavel,jdbcType=INTEGER},
        #{parent_id,jdbcType=INTEGER}, #{del_flag,jdbcType=INTEGER})
  </insert>
    <insert id="insertSelective" parameterType="com.ssm.maven.core.entity.Menu">
        insert into menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="title != null">
                title,
            </if>
            <if test="icon != null">
                icon,
            </if>
            <if test="url != null">
                url,
            </if>
            <if test="spread != null">
                spread,
            </if>
            <if test="leavel != null">
                leavel,
            </if>
            <if test="parent_id != null">
                parent_id,
            </if>
            <if test="del_flag != null">
                del_flag,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="title != null">
                #{title,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                #{icon,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                #{url,jdbcType=VARCHAR},
            </if>
            <if test="spread != null">
                #{spread,jdbcType=VARCHAR},
            </if>
            <if test="leavel != null">
                #{leavel,jdbcType=INTEGER},
            </if>
            <if test="parent_id != null">
                #{parent_id,jdbcType=INTEGER},
            </if>
            <if test="del_flag != null">
                #{del_flag,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.ssm.maven.core.entity.Menu">
        update menu
        <set>
            <if test="title != null">
                title = #{title,jdbcType=VARCHAR},
            </if>
            <if test="icon != null">
                icon = #{icon,jdbcType=VARCHAR},
            </if>
            <if test="url != null">
                url = #{url,jdbcType=VARCHAR},
            </if>
            <if test="spread != null">
                spread = #{spread,jdbcType=VARCHAR},
            </if>
            <if test="leavel != null">
                leavel = #{leavel,jdbcType=INTEGER},
            </if>
            <if test="parent_id != null">
                parent_id = #{parent_id,jdbcType=INTEGER},
            </if>
            <if test="del_flag != null">
                del_flag = #{del_flag,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.ssm.maven.core.entity.Menu">
    update menu
    set title = #{title,jdbcType=VARCHAR},
      icon = #{icon,jdbcType=VARCHAR},
      url = #{url,jdbcType=VARCHAR},
      spread = #{spread,jdbcType=VARCHAR},
      leavel = #{leavel,jdbcType=INTEGER},
        parent_id = #{parent_id,jdbcType=INTEGER},
        del_flag = #{del_flag,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <!-- 查找左侧菜单的父菜单-->
    <select id="findFatherMenu" parameterType="com.ssm.maven.core.entity.Menu"
            resultMap="BaseResultMap">
    SELECT * FROM menu where menu.id = menu.parent_id AND menu.del_flag = 1
  </select>

    <!-- 查找左侧菜单的子菜单 -->
    <select id="findChildMenu" parameterType="com.ssm.maven.core.entity.Menu"
            resultMap="BaseResultMap">
    SELECT * FROM menu where menu.id != menu.parent_id AND menu.del_flag = 1
  </select>
</mapper>